Checks:
  -*,
  abseil-*,
  bugprone-*,
  cert-*,
  google-*,
  misc-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*,
  -bugprone-assignment-in-if-condition,
  -bugprone-narrowing-conversions,
  -cert-err33-c,
  -cert-err34-c,
  -google-objc-function-naming,
  -google-readability-braces-around-statements,
  -modernize-avoid-c-arrays,
  -modernize-deprecated-headers,
  -modernize-use-trailing-return-type,
  -modernize-use-using,
  -readability-braces-around-statements,
  -readability-identifier-length,
  -readability-isolate-declaration
